{% extends "base.html" %}



{% block content %}
<div class="container">
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <div class="row">
            <div class="input-field col s4 push-s4 center">
                <input type="text" id="id_username" name="username">
                <label for="id_username">Username</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4 push-s4 center">
                <input type="text" id="id_email" name="email">
                <label for="id_email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4 push-s4 center">
                <input type="password" id="id_password" name="password">
                <label for="id_password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4 push-s4 center">
                <input type="submit" class="btn" value="login"/>
            </div>
        </div>

    </form>
    </div>
{% endblock %}