{# HTML5 declaration #}

<!DOCTYPE html>
<html>
{% load static %}


{# Make modifiable head elements #}
<head>
    <title>{% block title %} UyA - Upcylcle your Art {% endblock title %} </title>

    <link href="{% static "css/app.css" %}" rel="stylesheet" media="screen">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>


<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'index' %}" class="brand-logo center">UyA - Upcycle your Art</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'images_public' %}">Images</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'images_private' %}">My Images</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}

        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'images_public' %}">Images</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

    {% block content %}

        if you see this something is wrong

    {% endblock %}

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l12 s12 center">
                <h5 class="white-text">Kunstprojekt von Johannes Laute</h5>
                <p class="grey-text text-lighten-4">All rights reserved.</p>


            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<script type="text/javascript" src="{% static "js/jquery-3.1.1.min.js" %} "></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %} "></script>
<script type="text/javascript" src="{% static "js/init.js" %}"></script>
</body>
</html>